In [18]:
lista = [1,2,3,4,4,4,5,5,6]

In [8]:
suma = lista[0]
for lis in lista:
    if lis < suma:
        suma = lis
print(suma)

1

In [9]:
li =  ['abc', 'xyz', 'aba', '1221']

In [10]:
count = 0
for lis in li:
    if len(lis) > 2 and lis[0] == lis[-1]:
        count += 1
print(count)

2

In [11]:
samp_lis = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [14]:
def last(n): return n[-1]

def sort_list_last(tuples):
    return sorted(tuples, key=last)

print(sort_list_last(samp_lis))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [19]:
set(lista)

{1, 2, 3, 4, 5, 6}

In [21]:
list(lista)

[1, 2, 3, 4, 4, 4, 5, 5, 6]

In [22]:
dupl = []
for li in lista:
    if li not in dupl:
        dupl.append(li)

In [23]:
print(dupl)

[1, 2, 3, 4, 5, 6]

In [30]:
def meli(laka):
    if laka == []:
        print('empty')
    else:
        print('something in it')

In [32]:
meli(lista)

something in it

In [34]:
meke = lista

In [35]:
meke

[1, 2, 3, 4, 4, 4, 5, 5, 6]

In [36]:
lista

[1, 2, 3, 4, 4, 4, 5, 5, 6]

In [37]:
lista.append(10)

In [38]:
meke

[1, 2, 3, 4, 4, 4, 5, 5, 6, 10]

In [41]:
seke = lista.copy()

In [42]:
seke

[1, 2, 3, 4, 4, 4, 5, 5, 6, 10]

In [43]:
lista.append(22)

In [44]:
seke

[1, 2, 3, 4, 4, 4, 5, 5, 6, 10]

In [45]:
lista

[1, 2, 3, 4, 4, 4, 5, 5, 6, 10, 22]

In [48]:
meke

[1, 2, 3, 4, 4, 4, 5, 5, 6, 10, 22]

In [49]:
laka = ['markovic','petrovic','leb','pogac','meri','lalalala']

In [50]:
def func(lista,n):
    nova = []
    for li in lista:
        if len(li) > n:
            nova.append(li)
    
    return nova

In [51]:
seke = func(laka,5)

In [53]:
seke

['markovic', 'petrovic', 'lalalala']

In [100]:
baka = [2,3,4,1,2,3,4]
seka = [6,8,7,9,7,8,7,3]

In [73]:
def dvica(lista1,lista2):
    
    for li in lista1:
        if li in lista2:
             return True
    return False

In [76]:
dvica(baka,seka)

True

In [75]:
keka = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [82]:
kisa = keka.copy()

In [85]:
kisa.remove(kisa[5])
kisa.remove(kisa[4])
kisa.remove(kisa[0])

[6, 8, 7, 9, 7, 8, 7, 3]

In [95]:
nesa = []
for s in seka:
    if s%2 == 1:
        nesa.append(s)
print(nesa)

[7, 9, 7, 7, 3]

In [99]:
import random as ra

r

In [101]:
ra.shuffle(seka)

In [103]:
seka

[7, 9, 7, 7, 3, 8, 6, 8]

In [106]:
def printValues():
    l = []
    for i in range(1,21):
        l.append(i**2)
    print(l[:5])
    print(l[-5:])

In [107]:
printValues()

[1, 4, 9, 16, 25]
[256, 289, 324, 361, 400]

In [110]:
lis = ['s','d','das','das',' dasd']

In [111]:
mik = ''.join(lis)

In [112]:
mik

'sddasdas dasd'

In [125]:
lis = [1,2,3,4,5,6]
mis = [2,3,4,1]

In [115]:
mi = 3
ki = 0
for num,li in enumerate(lis):
    if li == 3:
        ki = num

In [118]:
print(lis.index(2))

1

In [120]:
lis.extend(mis)

In [123]:
lis.sort()

In [124]:
lis[1]

1

In [127]:
if lis in mis:
    print('ima')
else:
    print('nema')

nema

In [130]:
dic = {1:10,3:30,2:20,5:50,6:60,4:40}
s_dic = {}

In [131]:
import operator

In [135]:
dic

{1: 10, 3: 30, 2: 20, 5: 50, 6: 60, 4: 40, 7: 70}

In [136]:
s_dic = sorted(dic.items(),key = operator.itemgetter(1),reverse = True)
s_dic

[(7, 70), (6, 60), (5, 50), (4, 40), (3, 30), (2, 20), (1, 10)]

In [134]:
dic[7] = 70

In [140]:
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
dic4 = {}

In [141]:
for d in (dic1, dic2, dic3):
    dic4.update(d)

In [142]:
dic4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [143]:
def is_key(x):
    if x in dic4:
        print("ima")
    else:
        print('nema')

In [144]:

is_key(1)

ima

In [146]:
is_key(7)

nema

In [155]:
neki = {}
def iterija(n):
    for s in range(n):
        neki[s+1] = (s+1)*(s+1)

In [158]:
iterija(15)

In [159]:
neki

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [161]:
ni = 0
for value in neki.values():
    ni += value

In [162]:
ni

1240

In [163]:
del neki[1]

In [164]:
neki

{2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [165]:
my_dict = {'x':500, 'y':5874, 'z': 560}

key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))

print('Maximum Value: ',my_dict[key_max])
print('Minimum Value: ',my_dict[key_min])

Maximum Value:  5874
Minimum Value:  500

In [179]:
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}

In [184]:
result = {}

In [181]:
for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

In [182]:
print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [198]:
if result == {}:
    print('empty')
else:
    print('have something')

empty

In [200]:
from collections import Counter

In [186]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

In [202]:
cona = Counter(d1)+ Counter(d2)

In [203]:
print(cona)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [205]:
d1['a']

100

In [206]:
bil = []

In [204]:
ki = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

In [207]:
for mi in ki:
    for value in mi.values():
        if value not in bil:
            bil.append(value)

In [212]:
bil

['S001', 'S002', 'S005', 'S009', 'S007']

In [213]:
import itertools

In [209]:
L = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
print("Original List: ",L)
u_value = set( val for dic in L for val in dic.values())
print("Unique Values: ",u_value)

Original List:  [{'V': 'S001'}, {'V': 'S002'}, {'VI': 'S001'}, {'VI': 'S005'}, {'VII': 'S005'}, {'V': 'S009'}, {'VIII': 'S007'}]
Unique Values:  {'S001', 'S007', 'S005', 'S009', 'S002'}

In [210]:
miki = {'1':['a','b'], '2':['c','d']}

In [214]:
for combo in itertools.product(*[miki[k] for k in sorted(miki.keys())]):
    print(''.join(combo))

ac
ad
bc
bd

In [215]:
from collections import Counter
item_list = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
result = Counter()
for d in item_list:
    result[d['item']] += d['amount']
print(result)

Counter({'item1': 1150, 'item2': 300})